@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,
    body {
        @apply scroll-smooth;
    }
    h1,
    h2,
    h3,
    a,
    span {
        @apply font-sans text-gray-100;
    }
    h1 {
        @apply font-title text-4xl font-bold tracking-tight sm:text-6xl md:text-7xl lg:text-8xl;
    }
    h2 {
        @apply font-title font-bold text-3xl md:text-4xl;
    }
    h3 {
        @apply font-title text-xl font-bold;
    }
    p {
        @apply text-lg sm:text-xl leading-normal text-gray-500;
    }
}

@layer components {
    .wrapper {
        @apply overflow-x-hidden container mx-auto max-w-6xl px-6 py-3;
    }

    .primary-gradient {
        background: linear-gradient(300.93deg, #945ffe 32.83%, #0079ff 93.45%);
    }

    .btn {
        @apply font-title flex items-center px-6 py-3 text-lg font-semibold gap-2 rounded-md leading-6 transition duration-150;
    }
    .btn-primary-gradient {
        background: linear-gradient(316.31deg, #945ffe 10.57%, #0079ff 93.61%);
    }

    .subtitle {
        @apply font-sans text-xl font-medium text-gray-500;
    }

    .subtitle-white {
        @apply font-title text-xl font-medium text-white;
    }

    .card-title {
        @apply font-bold text-lg text-gray-900;
    }

    .card-description {
        @apply text-gray-500 text-lg;
    }

    .footer-section-title {
        @apply font-title font-semibold text-sm text-gray-500;
    }

    .footer-section-link {
        @apply font-title font-semibold text-lg text-gray-700 hover:text-gray-400 transition duration-100;
    }

    .footer-legal-link {
        @apply font-title font-medium text-gray-700 hover:text-gray-400 transition duration-100;
    }
}

.backgroundGradientFull {
    background: url('/gradient.svg');
    background-position-x: center;
    background-position-y: bottom;
    background-size: cover;
    width: 100%;
    min-height: calc(100vh);
}

html {
    /* Avoid background behind videos */
    --media-background-color: transparent;
}